In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('finall.csv')

In [ ]:
df

,Attack Type,Attack_class,Author,Country,Description,Organization Name,Sector,Year,Date
0,Unknown,Cyber Crime,Unknown,CA,A server hack at Algonquin College in Ottawa l...,Algonquin College,Education,2021,12-06-2015
1,Unknown,Cyber Crime,Unknown,IN,The salary accounts of more than 23 employees ...,Infosys Ltd,Industry: Software,2021,17-06-2015
2,Malware,Cyber Crime,Unknown,JP,The internal computer network of the state-run...,Japan Environmental Storage & Safety Corp.,Industry: waste treatment,2021,15-06-2015
3,Targeted Attack,Cyber Espionage,Unknown,RU,Researchers from Palo Alto Networks reveal the...,Confidential Organization,Government,2021,16-06-2015
4,Unknown,Cyber Crime,St. Louis Cardinals,US,The St. Louis Cardinals baseball franchise is ...,Houston Astros,Single Individual,2021,16-06-2015
...,...,...,...,...,...,...,...,...,...
1963,Malware,Cyber Crime,Unknown,KR,"A South Korean Web-hosting service provider, N...",Nayana,Industry: Telco,2023,14-06-2017
1964,Malware,Cyber Crime,Unknown,UK,University College London is hit by a ÃÂÃÂ...,University College London,Education,2023,15-06-2017
1965,Malware,Cyber Crime,Unknown,UK,The Ulster University is also hit by Ransomware.,Ulster University,Education,2023,15-06-2017
1966,DDoS,Cyber Crime,Unknown,HK,"Bitfinex, the worldÃÂÃÂÃÂªs largest US do...",Bitfinex,Cryptocurrency Exchange,2023,15-06-2017
1967,Account Hijacking (Business Email Compromise),Cyber Crime,Attackers from Nigeria,RU,Kaspersky Lab reveal the details of a massive ...,Multiple Industrial Firms,Industry: >1,2023,15-06-2017

In [ ]:
df['Country'].value_counts()

Country
US                         795
RU                         232
UK                         107
IN                          64
CA                          49
                          ...
AO                           1
DO GG MV NL PA KE MX BA      1
JO KR FR ME                  1
FJ                           1
UA  AU                       1
Name: count, Length: 132, dtype: int64

In [ ]:
df[df['Country']=='US,']

Empty DataFrame
Columns: [Attack Type, Attack_class, Author, Country, Description, Organization Name, Sector, Year, Date]
Index: []

In [ ]:
df['Year'].value_counts()

Year
2022    1090
2021     466
2023     412
Name: count, dtype: int64

In [ ]:
# prompt: code to display number of Attack Type for each year

df.groupby('Year')['Attack Type'].value_counts()

Year  Attack Type
2021  Unknown                     124
      SQLi                         69
      DDoS                         60
      Targeted Attack              56
      Defacement                   48
                                 ...
2023  Malicious Code Injection      1
      Malicious Code                1
      LFI/SQLi                      1
      Industry: Securities          1
      Forged Cookie                 1
Name: count, Length: 156, dtype: int64

In [ ]:
# prompt: count of malware attacks in 2023 in education sector

malware_attacks_2023_education = df[(df['Year'] == 2023) & (df['Sector'] == 'Education') & (df['Attack Type'] == 'Malware')].shape[0]
print(f"Number of malware attacks in 2023 in the education sector: {malware_attacks_2023_education}")

Number of malware attacks in 2023 in the education sector: 10

In [ ]:
print(df['Country'].dtype)
print(df['Country'].isnull().sum())

object
59

In [ ]:
df['Country'].fillna('Unknown', inplace=True)

In [ ]:
df['Country'].value_counts()

Country
US                         823
RU                         232
UK                         114
IN                          64
Unknown                     59
                          ...
AO                           1
DO GG MV NL PA KE MX BA      1
JO KR FR ME                  1
FJ                           1
UA  AU                       1
Name: count, Length: 129, dtype: int64

In [ ]:
(df['Author']=='Anonymous,\r').sum()

4

In [ ]:
df.iloc[80]

Attack Type                                                    Unknown
Attack_class                                               Cyber Crime
Author                                                         Unknown
Country                                                          US,\r
Description          Pharmacy chain CVS takes down its online photo...
Organization Name    PNI Digital Media, affecting:,\rCVSphoto.com,\...
Sector                                       Industry: Online Services
Year                                                              2021
Date                                                        17-07-2015
Name: 80, dtype: object

In [ ]:
# prompt: there are country ending with ,\r replce it with only the country name. e.g US,\r with US

df['Country'] = df['Country'].apply(lambda x: x[:-2] if x.endswith(',\r') else x)

In [ ]:
df['Author'].value_counts()

Author
Unknown                                     1112
Anonymous                                     79
OurMine                                       25
Kapustkiy                                     12
North Korea                                   10
                                            ...
ISIS                                           1
Sc0rp!n , from Muslim Cyber Army               1
New World Hacktivists (NWH)                    1
Mr 4nOnymOus (part of 034th adr355 Cr3w)       1
Attackers from Nigeria                         1
Name: count, Length: 522, dtype: int64

In [ ]:
# prompt: there are country ending with ,\r replce it with only the country name. e.g US,\r with US

df['Author'] = df['Author'].apply(lambda x: x[:-2] if x.endswith(',\r') else x)

In [ ]:
df.to_csv('finall.csv')